<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wanderlust</title>
</head> -->
<% layout("/layouts/boilerplate") %>
<body>
    <h3>All Listings</h3>
    <!-- <form method="get" action="/listings/new">
        <button>Create New Listing</button>

    </form> -->

    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
        <%  for (let listing of allListings){ %>
            <a href="/listings/<%= listing._id %>" class="listing-link">
            <div class="card">
                <img src="<%= listing.image %>" class="card-img-top" alt="listing" style="height: 20rem;">
                <div class="card-img-overlay">Hotel</div>
                <div class="card-body">
                  <h5 class="card-title"><%= listing.title %></h5>
                  <p class="card-text"><%= listing.description %><br/>
                    &#8377; <%=listing.price.toLocaleString("en-IN") %> /Night</p>
                </div>
              </div>
            </a>
              <% }%>
    </div>
<!--    
    <ul>
        <%  for (let listing of allListings){ %>
        <li>
        <a href="/listings/<%= listing._id%>"> <%= listing.title %></a> </li>
      </ul>
      <% }%> -->
</body>
<!-- </html> -->

